body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2a3439;
  background-image: url(./img/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: calc(50% - 0px) calc(100% - 0px);
}

.top {
  display: flex;
  display: none;
  background-color: #d831ae;
  height: 50px;
  width: 100%;
  align-items: center;
}

.menu {
  background-color: #d831ae;
  width: 100%;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
}

ul img {
  width: 160px;
  display: inline-block;
  margin-left: 20px;
  margin-right: calc(50% - 50px)
}

ul li {
  font-size: 16px;
  color: #e07129;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #e8ebf7;
  display: block;
}

ul li a:hover {
  color: #e07129;
}

.contenedor {
  background-color: #e8ebf7;
  width: calc(80% - 200px);
  height: calc(80vh - 50px);
  margin: 50px auto;
  border-radius: 10px;
  opacity: 0.7;
}

@media (min-width: 720px) {
  body{
    background-position: calc(50% - 0px) calc(110% - 0px);
    background-size: 130%;
  }
  .menu{
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
  }

  ul img{
    margin-right: calc(30% - 50px);
    width: 135px;
  }

  ul li a{
    font-size: 14px;
  }

  .top{
    display: none;
  }

  .contenedor{
    position: relative;
    border-radius: 10px;
    width: calc(80% - 40px);
    height: calc(80vh - 50px);
    margin: 50px auto;
    opacity: 0.7;
  }
}

@media (max-width: 480px) {
  body {
    background-position: calc(50% - 0px) calc(95% - 0px);
    background-size: 130%;
  }

  .top {
    display: flex;
  }

  .top img {
    width: 120px;
    display: inline-block;
    margin-left: calc(45% - 60px);
    margin-right: 50%;
  }

  .menu-icon {
    color: #e8ebf7;
    font-size: 18px;
    display: inline;
    margin-left: 10px;
    transition: opacity 0.3s ease;
  }

  .menu {
    display: block;
    background-color: #d831ae;
    width: 200px;
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1;
  }

  ul {
    flex-direction: row;
    height: 100vh;
    text-align: left;
  }

  ul img {
    display: none;
  }

  ul li {
    display: block;
    width: 200px;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center
  }

  ul li a {
    font-size: 18px;
  }

  #menu-toggle:checked~.menu {
    transform: translateX(0);
  }

  .contenedor{
    border-radius: 10px;
    width: calc(80% - 40px);
    height: calc(80vh - 50px);
    margin: 50px auto;
    opacity: 0.7;
  }
}